@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --f-low: theme("colors.neutral.400");
  --f-med: theme("colors.neutral.300");
  --f-high: theme("colors.neutral.100");

  --b-low: theme("colors.black");
  --b-med: theme("colors.neutral.900");
  --border: theme("colors.neutral.700");

  --gradient-from: theme("colors.indigo.900");
  --gradient-via: theme("colors.rose.700");
  --gradient-to: theme("colors.amber.600");
}

@media (prefers-color-scheme: dark) :root {
  --f-low: theme("colors.neutral.400");
  --f-med: theme("colors.neutral.300");
  --f-high: theme("colors.neutral.100");

  --b-low: theme("colors.black");
  --b-med: theme("colors.neutral.900");
  --border: theme("colors.neutral.700");

  --gradient-from: theme("colors.indigo.900");
  --gradient-via: theme("colors.rose.400");
  --gradient-to: theme("colors.amber.500");
}

@media (prefers-color-scheme: light) :root {
  --f-low: theme("colors.neutral.800");
  --f-med: theme("colors.neutral.900");
  --f-high: theme("colors.black");

  --b-low: theme("colors.neutral.100");
  --b-med: theme("colors.neutral.200");
  --border: theme("colors.neutral.300");

  --gradient-from: theme("colors.indigo.300");
  --gradient-via: theme("colors.rose.200");
  --gradient-to: theme("colors.amber.400");
}

.light:root {
  --f-low: theme("colors.neutral.800");
  --f-med: theme("colors.neutral.900");
  --f-high: theme("colors.black");

  --b-low: theme("colors.neutral.100");
  --b-med: theme("colors.neutral.200");
  --border: theme("colors.neutral.300");

  --gradient-from: theme("colors.indigo.300");
  --gradient-via: theme("colors.rose.200");
  --gradient-to: theme("colors.amber.400");
}

.dark:root {
  --f-low: theme("colors.neutral.400");
  --f-med: theme("colors.neutral.300");
  --f-high: theme("colors.neutral.100");

  --b-low: theme("colors.black");
  --b-med: theme("colors.neutral.900");
  --border: theme("colors.neutral.700");

  --gradient-from: theme("colors.indigo.900");
  --gradient-via: theme("colors.rose.400");
  --gradient-to: theme("colors.amber.500");
}

.natural.light:root {
  --f-low: theme("colors.teal.800");
  --f-med: theme("colors.teal.900");
  --f-high: theme("colors.teal.950");

  --b-low: #f2e9e1;
  --b-med: #faf4ed;
  --border: theme("colors.stone.300");

  --gradient-from: theme("colors.teal.900");
  --gradient-via: theme("colors.teal.900");
  --gradient-to: theme("colors.teal.900");
}
.natural.dark:root {
  --b-low: theme("colors.teal.950");
  --b-med: theme("colors.stone.900");
  --border: theme("colors.stone.400");

  --f-low: theme("colors.stone.100");
  --f-med: theme("colors.stone.200");
  --f-high: theme("colors.stone.300");

  --gradient-from: theme("colors.teal.900");
  --gradient-via: theme("colors.teal.900");
  --gradient-to: theme("colors.teal.900");
}

body {
  @apply bg-b-low text-f-high;
}

.gradient {
  @apply bg-gradient-to-r from-gradient-from via-gradient-via to-gradient-to;
}
