@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --f-low: theme("colors.stone.400");
  --f-med: theme("colors.stone.300");
  --f-high: theme("colors.stone.100");

  --b-low: theme("colors.stone.950");
  --b-med: theme("colors.stone.900");
  --b-high: theme("colors.stone.700");

  --border: var(--f-low);
  --border-low: var(--b-high);

  --theme: theme("colors.indigo.900");
  --gradient-from: theme("colors.indigo.900");
  --gradient-via: theme("colors.rose.700");
  --gradient-to: theme("colors.amber.600");
}

@media (prefers-color-scheme: dark) :root {
  --f-low: theme("colors.stone.400");
  --f-med: theme("colors.stone.300");
  --f-high: theme("colors.stone.100");

  --b-low: theme("colors.stone.950");
  --b-med: theme("colors.stone.900");
  --b-high: theme("colors.stone.700");

  --border: var(--f-low);
  --border-low: var(--b-high);

  --theme: theme("colors.indigo.900");
  --gradient-from: theme("colors.indigo.900");
  --gradient-via: theme("colors.rose.400");
  --gradient-to: theme("colors.amber.500");
}

@media (prefers-color-scheme: light) :root {
  --f-low: theme("colors.stone.800");
  --f-med: theme("colors.stone.900");
  --f-high: theme("colors.black");

  --b-low: theme("colors.stone.200");
  --b-med: theme("colors.stone.100");
  --b-high: theme("colors.stone.50");

  --border: var(--f-low);
  --border-low: var(--b-low);

  --theme: theme("colors.indigo.300");
  --gradient-from: theme("colors.indigo.300");
  --gradient-via: theme("colors.rose.200");
  --gradient-to: theme("colors.amber.400");
}

:root[data-mode="light"] {
  --f-low: theme("colors.stone.800");
  --f-med: theme("colors.stone.900");
  --f-high: theme("colors.black");

  --b-low: theme("colors.stone.200");
  --b-med: theme("colors.stone.100");
  --b-high: theme("colors.stone.50");

  --border: var(--f-low);
  --border-low: var(--b-low);

  --theme: theme("colors.indigo.300");
  --gradient-from: theme("colors.indigo.300");
  --gradient-via: theme("colors.rose.200");
  --gradient-to: theme("colors.amber.400");
}

:root[data-mode="dark"] {
  --f-low: theme("colors.stone.400");
  --f-med: theme("colors.stone.300");
  --f-high: theme("colors.stone.100");

  --b-low: theme("colors.stone.950");
  --b-med: theme("colors.stone.900");
  --b-low: theme("colors.stone.800");

  --border: var(--f-low);
  --border-low: var(--b-high);

  --theme: theme("colors.indigo.900");
  --gradient-from: theme("colors.indigo.900");
  --gradient-via: theme("colors.rose.400");
  --gradient-to: theme("colors.amber.500");
}

:root[data-mode="light"][data-theme="natural"] {
  --f-low: #798078;
  --f-med: #525951;
  --f-high: #394039;

  --b-low: #d9d0ca;
  --b-med: #f3ebe6;
  --b-high: #faf2ed;

  --border: var(--f-low);
  --border-low: var(--b-low);
  --capsule: var(--b-low);

  --theme: var(--f-med);
  --gradient-from: var(--theme);
  --gradient-via: var(--theme);
  --gradient-to: var(--theme);
}

:root[data-mode="dark"][data-theme="natural"] {
  --f-low: #a59b95;
  --f-med: #d9d0ca;
  --f-high: #f3ebe6;

  --b-low: #212620;
  --b-med: #2e332d;
  --b-high: #525951;

  --border: var(--f-low);
  --border-low: var(--b-high);
  --capsule: var(--b-high);

  --theme: var(--b-high);
  --gradient-from: var(--theme);
  --gradient-via: var(--theme);
  --gradient-to: var(--theme);
}

html {
  @apply underline-offset-4 antialiased;
}

body {
  @apply bg-b-med text-f-med;
}

.gradient {
  @apply bg-gradient-to-r from-gradient-from via-gradient-via to-gradient-to;
}
